<h3>Mots clés</h3>
<% color = ["#EE5F5B", "#F95F62", "#00A6FF", "#FDB631", "#FFD185", "#FF9052", "#77D353"]%>
<br><% blog.tags.each do |tag, articles| %>
    <%= link_to "#{tag} (#{articles.size})", tag_path(tag), class: "btn btn-default btn-sm", style: "background-color: #{color.sample};" %>
<% end %>
<h3>Semaines</h3>
<!--<ul>-->
  <!--<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>-->
      <!--<li>-->
        <!--<h5><%= year %></h5>-->
        <!--<ul>-->
          <!--<% articles.each do |article| %>-->
              <!--<li><a href="<%= article.url %>"><%= article.title %></a></li>-->
          <!--<% end %>-->
        <!--</ul>-->
      <!--</li>-->
  <!--<% end %>-->
<!--</ul>-->