#footer {
  width: 100%;
  bottom: 0px;
  height: 40px;
  left: 0;
  //position: absolute;
  background-color: #D23333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position:fixed;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}
