#header {
  border-bottom-style: solid;
  border-color: $blue;

  h1, p {
    text-align: center;
  }
  h1{
    font-size: 8vh;
  }
  h1 :hover{
    text-decoration: none;
  }
  p {
    font-size: 2.1vh;
  }
}