---
title: Le Wagon - Middleman - About
---

<div id="about">
  <div class="about-content">
    <h1>This template was by <%= link_to 'Hugo BARTHELEMY', "https://github.com/hugobarthelemy"%><% link_to "https://github.com/hugobarthelemy", "hsvnj" %> and built with <i class="fa fa-heart"></i> & Le Wagon Template</h1>
  </div>
</div>
