<% wrap_layout :layout do %>
    <article>
      <div id="article">
        <h1><%= current_page.data.title %></h1>

        <% if current_page.data.personality %>
            <p>Personalités :
          <% current_page.data.personality.each do |perso|%>
              <%= perso %>
          <% end %></p>
        <% end %>
        <% if current_page.data.abstract %>
            <br><p><%= current_page.data.abstract %></p><br>
        <% end %>
        <%= yield %>
      </div>
    </article>
<% end %>